body{
    background-color: rgb(245, 220, 230);

font-size: 20px;
text-align: justify;
color:rgba(153, 0, 255, 0.753);
}
h1 { 
    color:rgb(255, 0, 242);
    font-size: 50px;
    text-align: center;
}