body{
    background-color: rgb(236, 14, 103);

font-size: 40px;
text-align: justify;
color:rgba(0, 17, 255, 0.753);
}
h1 { 
    color:rgb(140, 0, 255);
    font-size: 60px;
    text-align: center;
}